@CHARSET "UTF-8";

body {
    color: #333333;
    font-family: "Hiragino Kaku Gothic Pro",Meiryo,"MS PGothic",Helvetica,Arial,sans-serif;
}

a:link,
a:visited,
a:active {
  color: black;
  text-decoration: none;
}

#wrapper {
    min-width: 450px;
}

#header {
    width: 100%;
    height: 30px;
    background-color: #616161;
    background-image: repeating-linear-gradient(45deg,
    #424242, #424242 3px,
    transparent 0, transparent 6px);
    font-family: ヒラギノ丸ゴ ProN;
}

#content {
    width: 90%;
    margin-top: 15px;
    margin: 20px auto 20px auto;
    padding-left: 3%;
    min-width: 1000px;
}

#footer {
    text-align: center;
}

.commucontent{
  max-width: 400px;
  background-color: none;
  letter-spacing: 1px;
  border: 2px solid #303030;
}

.commucontent:focus {
    border: 2px solid #da3c41;
}

.subheader {
    width: 100%;
    height: 40px;
    background-color: #303030;
}

.subheader a {
    font-size: 25px;
    text-decoration: none;
    color: #fcfeff;
}

.form {
  text-align: center;
  margin: 20px auto 20px auto;
  width: 40%;
  max-width: 30%;
  border: 2px solid #303030;
  font-family: ヒラギノ丸ゴ ProN;
}

.commuheader {
    width: 100%;
    height: 40px;
    background-color: #e9e9e9;
}

.commuheader a {
    font-size: 25px;
    text-decoration: none;
    color: #000000;
}

.contribution {
    width: 60%;
    float: left;
    min-width: 600px;
}

.timeline {
    width: 60%;
    float: left;
    min-width: 600px;
    max-width: 50%;
    margin: 20px auto 20px auto;
}

.ccontribution {
    width: 60%;
    min-width: 600px;
    max-width: 50%;
    margin: 20px auto 20px auto;
}

.ctimeline {
    width: 60%;
    min-width: 600px;
    max-width: 50%;
    margin: 60px auto 20px auto;
}

.hr1 {
    border-width: 1px 0 0 0;
    border-style: dotted;
    border-color: #919191;
}

.clear {
    clear: both;
}

.homesearchform {
    float: right;
    width: 270px;
    max-width: 30%;
    display: block;
}

a#title{
    font-size: 20px;
    text-decoration: none;
    color: #fcfeff;
}

tbale a:hover {
    background-color: #fcfcaa;
}

table {
  border-collapse: collapse;
  border: solid 2px #000000b0;
  width: 100%;
  float: left;
}

table td a {
   display: block;
   padding: 0.6em 1em;
}

table th, table td {
  border: dashed 1px #000000b0
}

table th {
    padding: 10px;
    font-size: 25px;
    font-family: ヒラギノ丸ゴ ProN;
    border: solid 2px #000000b0;
    color: white;
    background: #000000b0;
}

table td {
    padding: 5px;
}

.reload {
   display: block;
   padding: 0em 1em;
   text-align: center;
   background-color: white;
   border: black;
   color: black;
}

.con {
    font-size: 20px;
    padding: 0.6em 1em;
}

.time {
    font-size: 12px;
    padding: initial;
    text-align: right;
}

#conlogin {
    margin: 20px auto 20px auto;
    text-align: center;
}

.mycommunity {
  background-color: #e9e9e9;
  border: 1px solid #dedede;
  border-radius: 4px;
  box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.055);
  color: #888888;
  display: block;
  margin: 1em 1%;
  overflow: hidden;
  width: 35%;
  min-width: 350px;
  border: 2px solid #cacaca;
  float: right;
  font-family: ヒラギノ丸ゴ ProN;
}

.mycommunity tbale a:hover {
    background-color: #fcfcaa;
}

.mycommunity table {
  border-collapse: collapse;
  border: solid 2px #cacaca;
  width: 100%;
  float: left;
}

.mycommunity table td a {
   display: block;
   padding: 0.6em 1em;
}

.mycommunity table th, table td {
  border: dashed 1px #23396a
}

.mycommunity table th {
    padding: 10px;
    font-size: 25px;
    background: #e9e9e9;
    font-family: ヒラギノ丸ゴ ProN;
    color: black;
}

.mycommunity table td {
    padding: 5px;
}

#commumember {
    font-size: 17px;
    color: white;
}

.commusub {
    font-size: 20px;
    padding: 0px;
    font-weight: 600;
}

#btn{
    display: block;
    width: 35%;
    height: 70px;
    min-width: 350px;
    float: right;
}

#communame {
    float: left;
    width: 60%;
    padding-top: 10px;
    min-width: 600px;
}

.btn2 {
  font-size: 1rem;
  position: relative;
  display: inline-block;
  cursor: pointer;
  user-select: none;
  transition: all 0.3s;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  letter-spacing: 0.1em;
  color: #fff;
  border-radius: 50%;
  line-height: 68px;
  width: 70px;
  height: 70px;
  padding: 0;
  left: 275px;
  background-color: #23396a;
}

.btn2:hover {
    color: #FFFFFF;
    background-color: #404b75;
    -webkit-box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.3);
            box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.3);
}

a.btn2 {
    color: #fff;
}

.btn3 {
  font-size: 1rem;
  position: relative;
  display: inline-block;
  cursor: pointer;
  user-select: none;
  transition: all 0.3s;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  letter-spacing: 0.1em;
  color: #fff;
  border-radius: 50%;
  line-height: 68px;
  width: 70px;
  height: 70px;
  padding: 0;
  left: 100px;
  background-color: #23396a;
}

a.btn3 {
    color: #fff;
}

.cp_navi {
    background-color: #1b2538;
    border: 1px solid #dedede;
    border-radius: 4px;
    box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.055);
    color: #888888;
    display: block;
    margin: 1em 1%;
    overflow: hidden;
    width: 98%;
}
.cp_navi ul {
    margin: 0;
    padding: 0;
}

.cp_navi li.right {
    float: right;
}

.cp_navi ul li {
    display: inline-block;
    list-style-type: none;
    -webkit-transition: all 0.2s;
            transition: all 0.2s;
}
.cp_navi > ul > li > a > .account {
    border-top: 4px solid #ffffff;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
    content: '';
    display: inline-block;
    height: 0;
    width: 0;
    vertical-align: middle;
    -webkit-transition: color 0.1s linear;
            transition: color 0.1s linear;
}
.cp_navi > ul > li > a {
    color: #ffffff;
    display: block;
    line-height: 56px;
    padding: 0 10px;
    text-decoration: none;
}
.cp_navi > ul > li:hover {
    background-color: rgb(218, 60, 65);
}
.cp_navi > ul > li:hover > a {
    color: rgb( 255, 255, 255 );
}
.cp_navi > ul > li:hover > a > .account {
    border-top-color: rgb( 255, 255, 255 );
}
.cp_navi > ul > li > div {
    background-color: rgb(218, 60, 65);
    border-top: 0;
    border-radius: 0 0 4px 4px;
    box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.055);
    display: none;
    margin: 0;
    opacity: 0;
    position: absolute;
    width: 140px;
    visibility: hidden;
    -webkit-transiton: opacity 0.2s;
           transition: opacity 0.2s;
    z-index:2;
}
.cp_navi > ul > li:hover > div {
    display: block;
    opacity: 1;
    visibility: visible;
}
.cp_navi > ul > li > div ul > li {
    display: block;
}
.cp_navi > ul > li > div ul > li > a {
    color: #ffffff;
    display: block;
    padding: 12px 24px;
    text-decoration: none;
}
.cp_navi > ul > li > div ul > li:hover > a {
    background-color: rgba( 255, 255, 255, 0.1);
}

.cp_iptxt {
    position: relative;
    width: 80%;
    margin: 20px auto 20px auto;
}
.cp_iptxt input[type='text'] {
    font: 15px/24px sans-serif;
    box-sizing: border-box;
    width: 60%;
    padding: 0.3em;
    transition: 0.3s;
    letter-spacing: 1px;
    border: none;
    border-bottom: 2px solid #1b2538;
    background: transparent;
}
.ef input[type='text']:focus {
    border-bottom: 2px solid #da3c41;
    outline: none;
}
.cp_iptxt input[type='password'] {
    font: 15px/24px sans-serif;
    box-sizing: border-box;
    width: 60%;
    padding: 0.3em;
    transition: 0.3s;
    letter-spacing: 1px;
    border: none;
    border-bottom: 2px solid #1b2538;
    background: transparent;
}
.ef input[type='password']:focus {
    border-bottom: 2px solid #da3c41;
    outline: none;
}

.registration {
    display: inline-block;
    width: 160px;
    padding: 1em;
    line-height: 1.4;
    cursor: pointer;
    user-select: none;
    transition: background-color 0.2s, color 0.2s, width 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275), border-radius 0.2s;
    color: #1a1a51;
    border: 1px solid #1a1a51;
    border-radius: 0.2em;
    background: transparent;
}
.registration:hover {
    width: 180px;
    color: #ffffff;
    border-radius: 0.5em;
    border: 1px solid #1a1a51;
    background-color: #1a1a51;
}
.registration:active {
    border-color: #1a1a51;
    background-color: #1a1a51;
}
.registration:focus {
    color: #1a1a51;
    border: 1px solid #1a1a51;
}
.registration:focus:hover {
    color: #ffffff;
}

.image {
    position:relative;
    top:0;
    color:#666;
    border:none;
    background:none;
    font-size:40px;/*アイコンサイズ*/
    float: left
}

.image:hover {
    background: #e1e3e8;
}

.con_button {
    position: relative;
    display: inline-block;
    overflow: hidden;
    width: 160px;
    padding: 1em;
    line-height: 1.4;
    cursor: pointer;
    user-select: none;
    color: #ffffff;
    border: 1px solid #7bbee2;
    border-radius: 0.25rem;
    background: #7bbee2;
    float: right;
}
.con_button:after {
    position: absolute;
    display: block;
    margin-top: -120%;
    margin-left: -120%;
    padding-top: 240%;
    padding-left: 240%;
    content: '';
    transition: all 1s;
    opacity: 0;
    border-radius: 50%;
    background: rgba(255,255,255,0.3);
}
.con_button:hover {
    color: #ffffff;
    border-color: #3798ee;
    background-color: #3798ee;
}
.con_button:active:after {
    margin-top: 0;
    margin-left: 0;
    padding-top: 0;
    padding-left: 0;
    transition: 0s;
    opacity: 1;
}
.con_button:focus {
    color: #ffffff;
    border: 1px solid #7bbee2;
}

textarea {
  width: 100%;
  margin: 1em 0;
  padding: 0.5em;
  font-size: 1em;
  border: solid 2px #e1e3e8;
  border-radius: 4px;
  resize: none;
}

textarea:focus {
  border-color: #56a9ff;
  outline: 0;
}

.searchcommuinty{
    float: left;
    width: 60%;
    padding-top: 10px;
    min-width: 600px;
}

.searchform {
    float: left;
    width: 60%;
    min-width: 600px;
}

#search{
position:relative;
max-width:300px;
margin-bottom:20px;
background:#eee;
left: 25px;
top: 15px;
}
#sbox{
height:50px;
padding:0 10px;
position:absolute;
left:0;
top:0;
border-radius:2px;
outline:0;
background:#eee;
border:none;
}

#sbtn{
height:50px;
position:absolute;
left:200px;/*アイコン左右の位置調整*/
top:0;
color:#666;
border:none;
font-size:20px;/*アイコンサイズ*/
}

#sbtn:hover{
color:#7fbfff;
}

#sbox1{
max-width:300px;
height:50px;
border-radius:2px;
outline:0;
margin-bottom:40px;
background:#eee;
border:none;
}

.commutitle {
    background:none;
    font-size: 35px;
    font-family: ヒラギノ丸ゴ ProN;
    float: left;
    max-width: 60%;
    clear: both;
}

.btn {
  font-size: 0.5rem;
  font-weight: 700;
  position: relative;
  display: inline-block;
  cursor: pointer;
  user-select: none;
  transition: all 0.3s;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  letter-spacing: 0.1em;
  color: #fff;
  border-radius: 50%;
  line-height: 50px;
  width: 50px;
  height: 50px;
  padding: 0;
  left: 275px;
  bottom: 5px;
  background-color: #23396a;
}

a.btn {
    color: #fff;
}

.btn:hover {
    color: #FFFFFF;
    background-color: #404b75;
    -webkit-box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.3);
            box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.3);
}

#cinput {
    width: 100%;
}

.contents .Tittle {
  margin-bottom: 0.5em;
  padding-bottom: 0.25em;
  font-size: 2em;
  font-weight: bold;
  line-height: 1.3;
  border-bottom: 1px solid #dedede;
}
.contents p {
  margin-bottom: 1em;
  line-height: 1.7;
}

.popupCheck {
  display: none;
}

label {
  cursor: pointer;
}

.button {
  text-align: center;
}
.button label {
    font-size: 1rem;
    position: relative;
    display: inline-block;
    cursor: pointer;
    user-select: none;
    transition: all 0.3s;
    text-align: center;
    vertical-align: middle;
    text-decoration: none;
    letter-spacing: 0.1em;
    color: #fff;
    border-radius: 50%;
    line-height: 68px;
    width: 70px;
    height: 70px;
    padding: 0;
    left: 60px;
    bottom: 70;
    background-color: #23396a;
}
.button label:hover {
  color: #FFFFFF;
  background-color: #404b75;
  -webkit-box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.3);
}

.popupWrap, .popupBg {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  margin: auto;
  z-index: 10;
}

.popupWrap {
  opacity: 0;
  visibility: hidden;
  -webkit-transition: 0.3s cubic-bezier(1, 0, 0, 1);
  transition: 0.3s cubic-bezier(1, 0, 0, 1);
  -webkit-transition-property: opacity;
  transition-property: opacity;
  will-change: opacity;
}

.popupBg {
  cursor: pointer;
  opacity: 0.7;
  background-color: #000;
  z-index: 2;
}
.popupBg label {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: block;
}

.popupCon {
    position: absolute;
    top: 5%;
    left: 0;
    right: 0;
    width: 92%;
    max-width: 500px;
    margin: 250px auto 20px auto;
    z-index: 3;
}

.popupInner {
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  position: relative;
  height: 100%;
  padding: 0 1.5em 1.5em;
  cursor: default;
  background-color: #fff;
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.3);
}

.popupButton_Close {
  position: absolute;
  top: 0;
  right: 0;
}
.popupButton_Close label {
  display: inline-block;
  padding: 0.5em;
  color: #333;
  text-decoration: none;
  font-size: 2em;
}

.popupCheck:not(:checked) ~ .wrapper > *:not(.popupWrap) {
  -webkit-filter: blur(0px);
          filter: blur(0px);
}
.popupCheck:not(:checked) ~ .wrapper .popupWrap {
  opacity: 0;
  visibility: hidden;
}

.popupCheck:checked ~ .wrapper > *:not(.popupWrap) {
  -webkit-filter: blur(3px);
          filter: blur(3px);
}



#popup01:checked ~ .wrapper #popup01Con {
  opacity: 1;
  visibility: visible;
}

.popupText .popupCover {
  margin: 0 -1.5em 1em;
}

.popupText p {
  margin-bottom: 1em;
  line-height: 1.7;
  color:#000;
}

#yes {
    position: relative;
    display: inline-block;
    overflow: hidden;
    width: 130px;
    padding: 0.2em;
    line-height: 1.4;
    cursor: pointer;
    user-select: none;
    color: #ffffff;
    border: 1px solid #23396a;
    border-radius: 0.25rem;
    background: #23396a;
    right: 20px;
    top: 10px;
}

#no {
    position: relative;
    display: inline-block;
    overflow: hidden;
    width: 130px;
    padding: 0.2em;
    line-height: 1.4;
    cursor: pointer;
    user-select: none;
    color: #ffffff;
    border: 1px solid #23396a;
    border-radius: 0.25rem;
    background: #23396a;
    left: 20px;
    top: 10px;
}

.here {
    font-size: large;
}

#image {
    display: none;
}

.imageicon {
    font-size: 35;
}

#output {
    max-width: 60%;
}

.homeccontribution {
    float: left;
    width: 60%;
    clear: both;
}

i.fas.fa-male {
    font-size: 20px;
}

.button.small {
    display: block;
    width: 35%;
    height: 70px;
    min-width: 350px;
    float: left;
}

.mypage {
    background: none;
    font-size: 35px;
    font-family: ヒラギノ丸ゴ ProN;
    max-width: 60%;
    clear: both;
}

#myaccount {
    float: left;
    width: 60%;
    margin: 1em 1%;
}

#name {
    width: 55%;
    vertical-align: baseline;
}

#follow {
    width: 15%;
    vertical-align: baseline;
}

#follower {
    width: 15%;
    vertical-align: baseline;
}

#fav {
    width: 15%;
    vertical-align: baseline;
}

#profile {
    height: 100px;
    vertical-align: baseline;
}

#btn4 {
    font-size: 1rem;
    position: relative;
    cursor: pointer;
    user-select: none;
    transition: all 0.3s;
    text-align: center;
    vertical-align: middle;
    text-decoration: none;
    letter-spacing: 0.1em;
    color: #fff;
    border-radius: 50%;
    line-height: 68px;
    width: 70px;
    height: 70px;
    padding: 0;
    bottom: 10px;
    float: right;
    background-color: #23396a;
}

#btn4:hover {
    color: #FFFFFF;
    background-color: #404b75;
    -webkit-box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.3);
            box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.3);
}

#procontent {
    float: left;
    width: 80%;
    font-size: 15px;
}

.conname {
    width: 40%;
    vertical-align: baseline;
    padding: 0;
}

.acname {
    float: left;
}

.followbutton {
    display: inline-block;
    width: 100px;
    padding: 0.5em;
    line-height: 1.4em;
    cursor: pointer;
    user-select: none;
    transition: box-shadow 0.2s, transform 0.2s;
    color: #FFFFFF;
    border-width: 0;
    border-style: solid;
    border-radius: 12% / 50%;
    background: #23396a;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1);
}
.followbutton:hover {
  color: #FFFFFF;
  background-color: #404b75;
  -webkit-box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.3);
}

.followcon {
    float: right;
}

.popupCheck:not(:checked) ~ .followcon > *:not(.popupWrap) {
  -webkit-filter: blur(0px);
          filter: blur(0px);
}
.popupCheck:not(:checked) ~ .followcon .popupWrap {
  opacity: 0;
  visibility: hidden;
}

.popupCheck:checked ~ .followcon > *:not(.popupWrap) {
  -webkit-filter: blur(3px);
          filter: blur(3px);
}

#popup01:checked ~ .followcon #popup01Con {
  opacity: 1;
  visibility: visible;
}

.flist {
    float: left;
}

.popupCheck:not(:checked) ~ .flist > *:not(.popupWrap) {
  -webkit-filter: blur(0px);
          filter: blur(0px);
}
.popupCheck:not(:checked) ~ .flist .popupWrap {
  opacity: 0;
  visibility: hidden;
}

.popupCheck:checked ~ .flist > *:not(.popupWrap) {
  -webkit-filter: blur(3px);
          filter: blur(3px);
}

#popup01:checked ~ .flist #popupCon {
  opacity: 1;
  visibility: visible;
}

#popup:checked ~ .flist #popupCon {
  opacity: 1;
  visibility: visible;
}

#close {
    position: relative;
    display: inline-block;
    overflow: hidden;
    width: 130px;
    padding: 0.2em;
    line-height: 1.4;
    cursor: pointer;
    user-select: none;
    color: #ffffff;
    border: 1px solid #23396a;
    border-radius: 0.25rem;
    background: #23396a;
}

.trim {
    overflow: hidden;
    width: 300px;
    height: 150px;
    position: relative;
    margin: auto;
}

.trim img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.flist {
    float: left;
    width: 60%;
    padding-top: 10px;
    min-width: 600px;
    margin: 1em 1%;
}

#cmlist {
    width: 30%;
    min-width: 600px;
    margin: auto;
}

.reply {
    float: left;
    padding: 0px 0px 0px 10px;
    font-size: 20px;
}

.fav {
    float: left;
    padding: 0px 0px 0px 30px;
    font-size: 20px;
}

.repcon a {
    font-size: 20px;
    font-weight: 900;
}

.repname {
    width: 40%;
    vertical-align: baseline;
    padding: 4px;
    font-size: 13px;
}